# Git
.git/
.gitignore

# Virtual environment
.venv/

# Environment variables
.env
.env.test

# IDE
.idea/

# Tests
tests/
.pytest_cache/

# Temp files
temp/

# Docker files
Dockerfile
docker-compose.yml